

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.botones{
  position: absolute;
  display: flex;
  top: 10%;
  left: 41.5%;
  width: 17vw;
  justify-content: space-between;
}

.boton{
  width: 8vw;
}
